
<script>

    $(document).ready(function () {
    });

    var colorPickers = [];

    function dropValueToInput(value, slider) {
        var id = slider.toArray()[0].id;
        var slider = $("#slider_" + id);
        slider.val(value);
        setBrightness(id.split("_")[1], value);
    }

    function getPower() {

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", "/api/query/lights", true);
        xmlHttp.onreadystatechange = function () {
            if (this.readyState === this.DONE) {
                var data = JSON.parse(xmlHttp.responseText);
                // TODO
                data.forEach(function (relay) {
                    var t = $('#lightsData').DataTable();
                    var checkbox = `<label class="switch-original">
                            <input id="light_`+ relay[0] + `" type="checkbox" ` + (relay[5] == true ? "checked=\"checked\"" : "") + `>
                                <span class="check" onclick="switchLight`+ ((relay[6] == true) ? "Combo" : "") + `(` + relay[0] + `,!$('#light_` + relay[0] + `').is(':checked'));"></span>
                        </label>`;
                    var brightness = `<div id="brightness_` + relay[0] + `" class="slider"
                    data-on-change="dropValueToInput"
                    data-role="slider"
                    data-max-value="270"
                    data-position="`+ relay[3] + `"
                    data-min-value="20" ></div>
                    <div class="input-control text" style="display: none;">
                            <input id="slider_brightness_` + relay[0] + `" value="` + relay[3] + `">
                    </div>`;
                    var color = `<div id="color_` + relay[0] + `" onmouseup="setLightColor(` + relay[0] + `);"></div>`; // relay[4]
                    t.row.add([
                        relay[0] + ((relay[6] == true) ? "[C]" : ""),
                        relay[1],
                        relay[2],
                        brightness,
                        color,
                        checkbox
                    ]).draw(true);

                    var relay_id = relay[0];
                    setTimeout(function () {

                        var colorPicker = new iro.ColorPicker("#color_" + relay_id, {
                            // Canvas dimensions:
                            width: 130,
                            height: 130,
                            color: "#fff",
                            markerRadius: 4,
                            padding: 2,
                            sliderMargin: -9999,
                            borderWidth: 2,
                            borderColor: "#000",
                            css: {}
                        });
                        colorPicker.data_id = relay_id;
                        colorPickers.push(colorPicker);

                    }, 200, relay_id);

                });
            }
        };
        xmlHttp.send();
    };

    function setLightColor(id) {

        colorPickers.forEach(function (colorPicker) {

            if (colorPicker.data_id == id) {

                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("GET", "/api/light/color/" + id + "/" + colorPicker.color.hsl.h + "/" + colorPicker.color.hsl.s + "/" + colorPicker.color.hsl.l, true);
                xmlHttp.send();
                return;

            }
        });
    }

    function switchLightCombo(id, status) {
        switchLight(id, status, true);
    }

    function switchLight(id, status, combo = false) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", "/api/light/" + ((combo) ? "combo/" : "") + id + "/" + status, true);
        xmlHttp.send();
    };


    function setBrightness(id, value) {

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", "/api/light/brightness/" + id + "/" + parseInt(value / 10, 10), true);
        xmlHttp.send();

    };

    // TODO
    function allLightsSwitch(state) {
        /*
        var t = $('#lightsData').DataTable();
        var data = t.rows().data();
        data.each(function (value, index) {
            switch???(value[0], state);
            $("#light_" + value[0]).prop("checked", state);
        });*/
    };

    getPower();

</script>

<h1 class="text-light">Lights<span class="mif-lamp place-right icon-flipped"></span></h1>
<hr class="thin bg-grayLighter">
<button class="button success" onclick="allPowerSwitch(true)">ALL ON</button>
<button class="button alert" onclick="allPowerSwitch(false)">ALL OFF</button>
<hr class="thin bg-grayLighter">
<div class="dataTables_wrapper no-footer">
    <table class="dataTable border bordered no-footer" data-role="datatable" data-auto-width="false" id="lightsData" role="grid">
        <thead>
            <tr role="row">
                <td class="sortable-column sorting" style="width: 20px" tabindex="0" aria-controls="lightsData">ID</td>
                <td class="sortable-column sorting" style="width: 20px" tabindex="1" aria-controls="lightsData">Bridge</td>
                <td class="sortable-column sorting" tabindex="2" aria-controls="lightsData">Name</td>
                <td style="width: 150px" tabindex="3" aria-controls="lightsData">Brightness</td>
                <td style="width: 110px" tabindex="4" aria-controls="lightsData">Color</td>
                <td style="width: 60px" tabindex="5" aria-controls="lightsData"></td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
