
<script>

    $(document).ready(function () {
    });

    function getPower() {

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", "/api/query/power", true);
        xmlHttp.onreadystatechange = function () {
            if (this.readyState === this.DONE) {
                var data = JSON.parse(xmlHttp.responseText);
                data.forEach(function (relay) {
                    var t = $('#powerData').DataTable();
                    var checkbox = `<label class="switch-original">
                            <input id="relay_`+ relay[0] + `" type="checkbox" ` + (relay[2] == true ? "checked=\"checked\"" : "") + `>
                                <span class="check" onclick="switchPower(`+ relay[0] + `,!$('#relay_`+ relay[0] + `').is(':checked'));"></span>
                        </label>`;
                    t.row.add([
                        relay[0],
                        relay[1],
                        checkbox
                    ]).draw(true);
                });
            }
        };
        xmlHttp.send();


    };

    function switchPower(id, status) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", "/api/power/" + id + "/" + status, true);
        xmlHttp.send();
    };

    function allPowerSwitch(state) {

        var t = $('#powerData').DataTable();
        var data = t.rows().data();
        data.each(function (value, index) {
            switchPower(value[0], state);
            $("#relay_" + value[0]).prop("checked", state);
        }); 
    };

    getPower();

</script>

<h1 class="text-light">Power<span class="mif-power-cord place-right"></span></h1>
<hr class="thin bg-grayLighter">
<button class="button success" onclick="allPowerSwitch(true)">ALL ON</button>
<button class="button alert" onclick="allPowerSwitch(false)">ALL OFF</button>
<hr class="thin bg-grayLighter">
<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
    <table class="dataTable border bordered no-footer" data-role="datatable" data-auto-width="false" id="powerData" role="grid">
        <thead>
            <tr role="row">
                <td class="sortable-column sorting" style="width: 20px" tabindex="0" aria-controls="powerData">ID</td>
                <td class="sortable-column sorting" tabindex="1" aria-controls="powerData">Socket</td>
                <td style="width: 20px" class="sorting" tabindex="2" aria-controls="powerData">Switch</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <!--  TODO   -->
    <!--<td class="sortable-column sorting" style="width: 20px" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</td>-->
    <!--<td class="align-center"><span class="mif-checkmark fg-green/ mif-stop fg-red"></span></td>-->
</div>
